body{
  /* background-color: rgb(79, 50, 103); */
  background-color: #c5a5c5d0;
}
.App {
  text-align: center;
 
}
.card{
  background-color: #ba89ba;
  color: rgb(79, 50, 103);
  box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
  overflow: hidden;
  max-width: 100%;
  font-weight: 600;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h3{
  color : #fff;
  text-align: center;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .card {

 
  
} */


.card-image {
  width: 100%;
  height: 250px;
  /* overflow: hidden; */
}
.img-cover {
  object-fit: cover;
}
.btn-buy{
  background-color: rgb(79, 50, 103);
  border: none;
  
}
.btn-buy:hover, .btn-buy:active, .btn-buy:focus{
  background-color: rgba(79, 50, 103, 0.626);
  /* outline: none; */
  box-shadow: none !important;
  outline: 0;
  -webkit-box-shadow: none;
  
}

.btn-rem{
  background-color: transparent;
  color:rgb(79, 50, 103);
  border:none;
}

.btn-rem:hover, .btn-rem:active, .btn-rem:focus{
  background-color: transparent;
  color:rgb(79, 50, 103);
  box-shadow: none !important;
  outline: 0;
  -webkit-box-shadow: none;
  
}

.cart-tag{
  color: rgb(79, 50, 103) !important;
}

.buy-header{
  border-radius: 4px;
  border: 2px solid #ba89ba;
  background-color: #ba89ba; 
  margin: 20px 0px;
  padding: 20px 20px;
  text-transform: uppercase;
}
.item{
  background-color: #c5a5c5d0;
}